<div class="right-content">
    <aside class="sidebar">
      <!-- Your Ad Here -->
      <div class="ad-space">
        <p>Your ad here.</p>
      </div>
      <!-- Merch -->
      <div class="merch-grid">
        <h2>Shop Our Merch</h2>
          <div class="merch-card">
            <img src="/assets/img/merch/sticker.jpg">
          </div>
          <div class="merch-card">
            <img src="/assets/img/merch/sticker2.jpg">
          </div>
          <a class="cta-link" href="https://PogonaVitticeps.redbubble.com" target="_blank">Go to Store</a>
      </div>
    </aside>    
</div>


