<div class="right-content">
    <aside class="sidebar">
      <!-- Merch -->
      <div class="merch-grid">
        <h2>Shop Stickers and More</h2>
        <p>Visit<a href="http://PogonaVitticeps.redbubble.com" target="_blank"> our Redbuble store</a> and you'll find 
        cool Bearded Dragon stickers, apparel, and more!</p>
        <div class="merch-card">
          <a href="https://www.redbubble.com/i/sticker/Fierce-Bearded-Dragon-by-PogonaVitticeps/45330547.EJUG5?asc=u" target="_blank">
            <img src="/assets/img/merch/sticker.jpg">
          </a>
          <a href="https://www.redbubble.com/i/sticker/Bearded-Dragon-Owners-Desert-Landscape-by-PogonaVitticeps/51316938.EJUG5?asc=u" target="_blank">
            <img src="/assets/img/merch/sticker2.jpg">
          </a>
        </div>
      </div>
    </aside>    
</div>


