<div class="right-content">
    <aside class="sidebar">
      <!-- Amazon Affiliate -->
      <h2> Shop Bearded Products on Amazon</h2>
      <script type="text/javascript">
        amzn_assoc_tracking_id = "beardeddragonownerswebsite-20";
        amzn_assoc_ad_mode = "manual";
        amzn_assoc_ad_type = "smart";
        amzn_assoc_marketplace = "amazon";
        amzn_assoc_region = "US";
        amzn_assoc_design = "enhanced_links";
        amzn_assoc_asins = "B07647WRZJ";
        amzn_assoc_placement = "adunit";
        amzn_assoc_linkid = "3fdd8a3f8a3f749b21145809aca49323";
      </script>
      <script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US"></script>
      <script type="text/javascript">
        amzn_assoc_tracking_id = "beardeddragonownerswebsite-20";
        amzn_assoc_ad_mode = "manual";
        amzn_assoc_ad_type = "smart";
        amzn_assoc_marketplace = "amazon";
        amzn_assoc_region = "US";
        amzn_assoc_design = "enhanced_links";
        amzn_assoc_asins = "B07Q3M5KH8";
        amzn_assoc_placement = "adunit";
        amzn_assoc_linkid = "738b79e92e91c63b432c59f4f7b395cd";
        </script>
        <script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US"></script>
      <script type="text/javascript">
        amzn_assoc_tracking_id = "beardeddragonownerswebsite-20";
        amzn_assoc_ad_mode = "manual";
        amzn_assoc_ad_type = "smart";
        amzn_assoc_marketplace = "amazon";
        amzn_assoc_region = "US";
        amzn_assoc_design = "enhanced_links";
        amzn_assoc_asins = "B06Y15M9X4";
        amzn_assoc_placement = "adunit";
        amzn_assoc_linkid = "6b876a83d0303b850a047e9465e8d65a";
        </script>
        <script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US"></script>
      <!-- Merch -->
      <div class="merch-grid">
        <h2>Shop Our Merchandise</h2>
        <p>Visit<a href="http://PogonaVitticeps.redbubble.com" target="_blank"> our Redbuble store</a> and you'll find 
        cool Bearded Dragon stickers, apparel, and more!</p>
        <div class="merch-card">
          <a href="https://www.redbubble.com/i/sticker/Fierce-Bearded-Dragon-by-PogonaVitticeps/45330547.EJUG5?asc=u" target="_blank">
            <img src="/assets/img/merch/sticker.jpg">
          </a>
        </div>
      </div>
    </aside>    
</div>


