<div class="top-bar">
  <!-- Logo -->
  <a class="site-title" href="/beardeddragonowners/index.html">Bearded Dragon Owners</a>
  <!-- Social media -->
  <div class="social-media">
    <a href="https://www.facebook.com/BeardedDragonOwners/" target="_blank"><i class="lab la-facebook"></i></a>
    <a href="https://www.youtube.com/channel/UCGa8qJlfiiPYjMpJYTUDk_w" target="_blank"><i class="lab la-youtube"></i></a>
    <a href="https://www.instagram.com/beardeddragonowners/?hl=en" target="_blank"><i class="lab la-instagram"></i></a>
  </div>
</div>
<div class="bottom-bar">
  <!-- Nav -->
  <nav class="nav-container">
    <ul class="nav-main-ul">
      <li><a href="/beardeddragonowners/index.html">Blog</a></li>
      <li><a href="/beardeddragonowners/bearded-dragon-care-guide.html">Care Guide</a></li>
      <li><a href="#">Learn More</a>
        <ul class="nav-nested-ul">
          <li><a href="/beardeddragonowners/bearded-dragon-behavior.html">Behavior</a></li>
          <li><a href="/beardeddragonowners/bearded-dragon-health.html">Health</a></li>
          <li><a href="/beardeddragonowners/types-of-bearded-dragons.html">Species & Morphs</a></li>
        </ul>
      </li>
      <li><a href="/beardeddragonowners/about-bearded-dragon-owners.html">About</a></li>
      <li><a href="/beardeddragonowners/bearded-dragon-owners-contact.html">Contact</a></li>
    </ul>
  </nav>
  <!-- Hamburger -->
  <div class="hamburger">
    <div class="line1"></div>
    <div class="line2"></div>
    <div class="line3"></div>
  </div>
</div>