<main class="main-content"> 
    <!-- Adsense -->
    <div class="google-ad">
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- Above the fold -->
        <ins class="adsbygoogle"
                style="display:block"
                data-ad-client="ca-pub-7729159604130563"
                data-ad-slot="5585673175"
                data-ad-format="auto"
                data-full-width-responsive="true"></ins>
        <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>
    {{content}}
    <!-- Adsense -->
    <div class="google-ad">
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- Below the fold -->
        <ins class="adsbygoogle"
                style="display:block"
                data-ad-client="ca-pub-7729159604130563"
                data-ad-slot="5027463492"
                data-ad-format="auto"
                data-full-width-responsive="true"></ins>
        <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>
</main>