<div class="right-content">
    <aside class="sidebar">
        <!-- Blog Feed -->
        <div class="recent-posts">
            <h2>Recent Blog Posts</h2>
            <ul>
                {% for post in site.posts %}
                  <li>
                    <a href="{{ post.url }}">{{ post.title }}</a>
                  </li>
                {% endfor %}
            </ul>
        </div>
        <!-- Merch -->
        <div class="merch-grid">
          <h2>Shop Our Merch</h2>
            <div class="merch-card">
              <img src="beardeddragonowners/assets/img/merch/sticker.jpg">
            </div>
            <div class="merch-card">
              <img src="beardeddragonowners/assets/img/merch/sticker2.jpg">
            </div>
            <a class="cta-link" href="https://PogonaVitticeps.redbubble.com" target="_blank">Go to Store</a>
        </div>
        <!-- Amazon Affiliate -->
        <div class="amazon-affiliate">
          <h2>Shop on Amazon</h2>
          <p>As an Amazon Associate I earn from qualifying purchases.</p>
          <!-- Stuffed animal -->
          <p>A cute Bearded Dragon stuffed animal.</p>
          <script type="text/javascript">
            amzn_assoc_tracking_id = "beardeddragonownerswebsite-20";
            amzn_assoc_ad_mode = "manual";
            amzn_assoc_ad_type = "smart";
            amzn_assoc_marketplace = "amazon";
            amzn_assoc_region = "US";
            amzn_assoc_design = "enhanced_links";
            amzn_assoc_asins = "B07647WRZJ";
            amzn_assoc_placement = "adunit";
            amzn_assoc_linkid = "e0c7fd229655a1afed737266f8a91ae0";
            </script>
          <script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US"></script>
          <!-- Necklace -->
          <p>An elegant Bearded Dragon necklace.</p>
          <script type="text/javascript">
            amzn_assoc_tracking_id = "beardeddragonownerswebsite-20";
            amzn_assoc_ad_mode = "manual";
            amzn_assoc_ad_type = "smart";
            amzn_assoc_marketplace = "amazon";
            amzn_assoc_region = "US";
            amzn_assoc_design = "enhanced_links";
            amzn_assoc_asins = "B06Y15M9X4";
            amzn_assoc_placement = "adunit";
            amzn_assoc_linkid = "7729ef280d1dc0c747710f0cbaf59612";
            </script>
            <script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US"></script>
            <!-- Reptile leash -->
            <p>A leash for your Bearded Dragon.</p>
            <script type="text/javascript">
              amzn_assoc_tracking_id = "beardeddragonownerswebsite-20";
              amzn_assoc_ad_mode = "manual";
              amzn_assoc_ad_type = "smart";
              amzn_assoc_marketplace = "amazon";
              amzn_assoc_region = "US";
              amzn_assoc_design = "enhanced_links";
              amzn_assoc_asins = "B07GNC425C";
              amzn_assoc_placement = "adunit";
              amzn_assoc_linkid = "6f6d6f3c0090dc691f572b376b5f9440";
            </script>
            <script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US"></script>
        </div>
    </aside>    
</div>


