<div class="right-content">
    <aside class="sidebar">
        <!-- Blog Feed -->
        <div class="recent-posts">
            <h2>Recent Blog Posts</h2>
            <ul>
                {% for post in site.posts limit:2 %}
                  <li>
                    <a href="{{ post.url }}">{{ post.title }}</a>
                  </li>
                {% endfor %}
            </ul>
        </div>
        <!-- Merch Links -->
        <div class="merch-grid">
          <h2>Shop Stickers</h2>
          <p>Visit our<a href="http://PogonaVitticeps.redbubble.com" target="_blank"> Redbuble </a>store and you'll find 
          cool Bearded Dragon stickers, apparel, and more!</p>
          <div class="merch-card">
            <a href="https://www.redbubble.com/i/sticker/Fierce-Bearded-Dragon-by-PogonaVitticeps/45330547.EJUG5?asc=u" target="_blank">
              <img class="merch-thumbnail" src="/assets/img/merch/sticker.jpg">
            </a>
            <a href="https://www.redbubble.com/i/sticker/Bearded-Dragon-Owners-Desert-Landscape-by-PogonaVitticeps/51316938.EJUG5?asc=u" target="_blank">
              <img class="merch-thumbnail" src="/assets/img/merch/sticker2.jpg">
            </a>
          </div>
        </div>
    </aside>    
</div>


