<div class="right-content">
    <aside class="sidebar">
        <!-- Blog Feed -->
        <div class="recent-posts">
            <h2>Recent Blog Posts</h2>
            <ul>
                {% for post in site.posts limit:2 %}
                  <li>
                    <a href="{{ post.url }}">{{ post.title }}</a>
                  </li>
                {% endfor %}
            </ul>
        </div>
        <!-- Merch Links -->
        <div class="merch-grid">
          <h2>Support Us</h2>
          <p>Visit our<a href="http://PogonaVitticeps.redbubble.com" target="_blank"> Redbuble </a>store and you'll find cool Bearded Dragon stickers, apparel, and more!</p>
          <a class="cta-link" href="http://PogonaVitticeps.redbubble.com" target="_blank">Visit Shop</a>
          <div class="merch-card">
            <!-- Sticker 1 -->
            <a href="https://www.redbubble.com/i/sticker/Fierce-Bearded-Dragon-by-PogonaVitticeps/45330547.EJUG5?asc=u" target="_blank">
              <img class="merch-thumbnail" src="/assets/img/merch/sticker1.jpg">
            </a>
            <!-- Sticker 2 -->
            <a href="https://www.redbubble.com/i/sticker/Little-Dude-the-Bearded-Dragon-by-PogonaVitticeps/45212626.O9UDB?asc=u" target="_blank">
              <img class="merch-thumbnail" src="/assets/img/merch/sticker2.jpg">
            </a>
            <!-- Sticker 3 -->
            <a href="https://www.redbubble.com/i/sticker/Blaze-the-Bearded-Dragon-by-PogonaVitticeps/92285147.EJUG5?asc=u" target="_blank">
              <img class="merch-thumbnail" src="/assets/img/merch/sticker3.jpg">
            </a>
            <!-- Sticker 4 -->
            <a href="https://www.redbubble.com/i/sticker/Bearded-Dragon-Owners-Desert-Landscape-by-PogonaVitticeps/51316938.EJUG5?asc=u" target="_blank">
              <img class="merch-thumbnail" src="/assets/img/merch/sticker4.jpg">
            </a>
          </div>
        </div>
        <!-- Amazon Affiliate Disclosure -->
        <div class="affiliate-disclosure">
            <h2>Amazon Affiliate Disclosure</h2>
              <p>Bearded Dragon Owners is a participant in the Amazon Services 
                LLC Associates Program, an affiliate advertising program design to 
                provide a means for sites to ear advertising fees by advertising and 
                linking to Amazon.com</p>
                <!-- Native Ad -->
                <script type="text/javascript">
                  amzn_assoc_placement = "adunit0";
                  amzn_assoc_search_bar = "true";
                  amzn_assoc_tracking_id = "beardeddragonownerswebsite-20";
                  amzn_assoc_search_bar_position = "bottom";
                  amzn_assoc_ad_mode = "search";
                  amzn_assoc_ad_type = "smart";
                  amzn_assoc_marketplace = "amazon";
                  amzn_assoc_region = "US";
                  amzn_assoc_title = "Shop Related Products";
                  amzn_assoc_default_search_phrase = "Bearded Dragon";
                  amzn_assoc_default_category = "All";
                  amzn_assoc_linkid = "71826ac018162f96e43638ee564e1a4c";
                </script>
                <script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US"></script>
        </div>
    </aside>    
</div>


