// VARIABLES.
$color1: #0d5c63; // Top bar (Brand).
$color2: #2a2b2a; // Bottom bar (Accent).
$color3: #fffffa; // Body.
$headingFont: 'Poppins', sans-serif;
$mainFont: 'Roboto', sans-serif;

// HTML ELEMENTS.
a{text-decoration: none;}
h1, h2, h3, h4, h5, h6, li, input, textarea, p{margin: 20px 0px;}
ul, ol{list-style-position: inside; list-style-type: square;}

// FONT.
html, body{height: 100%;}
.site-title, .nav-main-ul, footer{font-family: $mainFont; font-size: 1.1rem;}
.social-media{font-size: 2rem;}
h1, h2, h3, h4, h5, h6{font-family: $headingFont; font-size: 1.5rem;}
body, input, textarea, button{font-size: 16px; font-family: $mainFont; line-height: 1.7;}

// COLOR.
body{
  background: $color3;
}

.top-bar, footer{
  background: $color1;
}

.top-bar .site-title, .top-bar .social-media .lab, footer{
  color: $color3;
}

.hamburger .line1, .hamburger .line2, .hamburger .line3{
  background: $color3;
}

.bottom-bar, .bottom-bar .nav-nested-ul{
  background: $color2;
}

.bottom-bar .nav-main-ul a, .bottom-bar .nav-nested-ul a{
  color: $color3;
}

.bottom-bar .nav-main-ul a:hover{
  background: $color1;
  color: $color3;
}

.nav-main-ul{
  background: $color2;
}

body .cta-link, .contact-form button{
  background: $color1;
  color: $color3;
}

body .cta-link:hover, .contact-form button:hover{
  background: $color2;
  color: $color3;
}

body a{
  color: $color1;
}

body a:hover{
  color: $color2;
}

// Mobile nav color.
@media only screen and (max-width: 800px) {
  .bottom-bar .nav-main-ul a:hover{
    background: none;
  }
}

// CSS grid layout for entire website (desktop).
.website-layout{
  display: grid;
  grid-template-columns: 1fr 610px 15px 335px 1fr;
  grid-template-areas:
  "top-bar top-bar top-bar top-bar top-bar"
  "bottom-bar bottom-bar bottom-bar bottom-bar bottom-bar"
  ". main-content . right-content ."
  "footer footer footer footer footer";
}

.top-bar{
  grid-area: top-bar;
}

.bottom-bar{
  grid-area: bottom-bar;
}

.main-content, .right-content{
  margin: 50px 0px;
  padding: 10px 25px;
}

.main-content{
  grid-area: main-content;
}

.right-content{
  grid-area: right-content;
  position: relative;
  top: 40px;
}

.footer{
  grid-area: footer;
}

.cta-link{
  border-radius: 10px;
  border: none;
  text-align: center;
  padding: 10px;
  margin: 25px 0px;
}

// CSS grid layout for entire website (mobile).
@media only screen and (max-width: 970px) {
  .website-layout{
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas: 
    "top-bar"
    "bottom-bar"
    "main-content"
    "right-content"
    "footer";
  }
  .main-content, .right-content{
    margin: 20px;
  }
  .right-content{
    position: static;
  }
}

// Nav.
.top-bar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
}

.top-bar .social-media .lab{
  cursor: pointer;
}

.nav-container{
  display: grid;
  justify-content: flex-end;
  align-content: center;
  height: 100%;
}

.nav-main-ul{
  position: relative;
  display: grid;
  grid-template-columns: repeat(5, 5fr);
  height: 50px;
}

.nav-main-ul li{
  text-align: center;
  margin: 0px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-main-ul a{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 20px;
}

.nav-main-ul li:hover{
  height: 100%;
}

.nav-nested-ul{
  display: none;
  flex-direction: column;
  position: absolute;
  top: 50px;
}

.nav-nested-ul a{
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-nested-ul li{
  margin: 10px 0px;
}

.nav-main-ul li:hover .nav-nested-ul{
  display: flex;
  z-index: 2;
}

.hamburger{
  cursor: pointer;
  display: none;
}

.hamburger div{
  width: 35px;
  height: 4px;
  margin: 4px 0px;
}

// Nav for mobile.
@media only screen and (max-width: 800px) {
  .website-layout{
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 75px 50px 1fr 1fr 75px;
    grid-template-areas: 
    "top-bar"
    "bottom-bar"
    "main-content"
    "right-content"
    "footer";
  }
  body{
    overflow-x: hidden;
  }
  .header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0px 5px;
  }
  .hamburger{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 50px;
    margin-left: 10px;
  }
  .nav-container{
    display: flex;
    justify-content: center;
    height: auto;
  }
  .nav-main-ul{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 125px;
    transform: translateX(-100%);
    transition: 1s;
    height: 100vh;
    width: 100%;
    z-index: 1;
    overflow-y: scroll;
  }
  .nav-main-ul li{
    margin: 25px 0px;
    display: flex;
    justify-content: flex-start;
  }
  .nav-main-ul a{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0px;
  }
  .nav-main-ul li:hover{
    height: auto;
  }
  .nav-main-ul li:nth-child(3){
    display: flex;
    flex-direction: column;
    padding: 0px 20px;
  }
  .nav-nested-ul{
    position: static;
    display: none;
    flex-direction: column;
    width: 100%;
    height: auto;
  }
  .nav-active{
    transform: translateX(0%);
  }
}

// Footer.
footer{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

// Right sidebar.
.recent-posts a{
  text-decoration: none;
}

.merch-grid{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.merch-grid img{
  width: 100%;
  border-radius: 10px;
}

// About.
.picture-grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 0px;
  padding: 10px 0px;
}

.picture-grid img{
  width: 100%;
}

.my-picture{
  width: 25%;
  border-radius: 50%;
  padding: 5px 20px 5px 0px;
  shape-outside: circle();
  float: left;
}

@media only screen and (max-width: 500px) {
  .my-picture{
    float: none;
    width: 100%;
  }
}

// Contact.
.contact-form{
  display: flex;
  flex-direction: column;
}

.contact-form *{
  margin: 5px 0px;
}

.contact-form input{
  height: 40px;
  padding-left: 5px;
}

.contact-form textarea{
  height: 100px;
  overflow-y: scroll;
  padding-left: 5px;
}

.contact-form button{
  border-radius: 10px;
  border: none;
  cursor: pointer;
  text-align: center;
  padding: 10px;
  margin: 25px 0px;
}

// Blog.
.blog-feed{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.blog-feed img, .post-img{
  width: 100%;
}

.post-thumbnail{
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid $color2;
}

.post-author-and-date{
  display: flex;
  justify-content: space-between;
}

.post-title, .post-author-and-date, .post-description{
  padding: 0px 20px;
}

// Morphs.
.table{
  width: 100%;
  text-align: center;
}

.table th{

}

.table td{
  border: 1px solid $color2;
  padding: 5px;
}