<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <!-- Metadata -->
    <meta charset="UTF-8">
    <meta name="description" content="An educational website dedicated to Bearded Dragon care and information.">
    <meta name="keywords" content="bearded dragon, pogona, pogona vitticeps, reptile, lizard, central bearded dragon, inland bearded dragon, bearded dragon care, bearded dragon advice, bearded dragon tips, bearded dragon blog, bearded dragon articles, bearded dragon information, bearded dragon facts, bearded dragon owners">
    <meta name="author" content="Brent Pfefferle">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Facebook -->
    <meta property="og:url" content="{{page.url}}" />
    <meta property="og:type" content="Blog" />
    <meta property="og:title" content="{{page.title}}" />
    <meta property="og:description" content="{{page.description}}" />
    <meta property="og:image" content="/assets/img/default-og-img.jpg" />
    <!-- Page title -->
    <title>{{ page.title }} - {{ site.title }}</title>
    <!-- CSS reset -->
    <link rel="stylesheet" href="/assets/css/reset.css">
    <!-- Main CSS -->
    <link rel="stylesheet" href="/assets/css/main.css">
     <!-- Google font -->
     <link href="https://fonts.googleapis.com/css?family=Poppins:700|Roboto:300&display=swap" rel="stylesheet"> 
    <!-- Line awesome --> 
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-80297027-4"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-80297027-4');
    </script>
    <!-- Google ads -->
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7729159604130563"
     crossorigin="anonymous"></script>
  </head>
  <body>
    <!-- FB messenger chat -->
    <!-- <div id="fb-root"></div>
    <div id="fb-customer-chat" class="fb-customerchat"></div> -->
    <!-- Grid container -->
    <div class="website-layout">
      <!-- Main nav -->
      {% include main-nav.html %}
      <!-- Main content -->
      {% include main-content.html %}
      <!-- Right content -->
      {% include alternate-right-content.html %}
      <!-- Footer -->
      {% include footer.html %}
    </div>
    <!-- JS -->
    <script src="/assets/js/main.js"></script>
    <!-- FB plugins -->
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v6.0"></script>
    <script src="/assets/js/fb-messenger.js"></script>
  </body>
</html>